@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Titillium+Web:wght@300&display=swap');
#colorsiris{
    background-color: #5D9C59;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #fff;
    font-family: 'Barlow', sans-serif;

}
@media(max-width: 767px ) {
    .navbar-nav{
        text-align: center;
    }
    .w-100{
    
        height: 20vh;
       }
    .section-padding{
        padding: 10px 0;
    }
    #paddin{
        padding-top: 50px;
    }
    #paddin2{
        padding-top: 40px;
        padding-left: 18px;
        padding-right: 18px;
    }
    
}
.section-padding{
    padding: 5px;
    text-align: justify;
}
.about-img{
    padding: 10px;
    padding-top: 80px;
}
.about-text{ 
    padding-top: 90px;
}
.descripcion{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    text-align: justify;
}
.titulo{
    font-family: 'Titillium Web', sans-serif;
    font-size: 40px;
    
}
.titulo2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    
}
.textos{
    padding-top: 75px;
}
/*Copiar en todos*/
.about-foot{ 
    padding-top: 50px;
}
.contacto{
    padding: 10px;
    padding-top: 50px;
  
    list-style: none;
}

footer h3{
    font-size: 15px;
    font-family: 'Titillium Web', sans-serif;
}
footer{
    font-family: 'Titillium Web', sans-serif;
    font-size: 17px;
    color: #fff;
    background-color: #5D9C59;
}
